<div id="navigationArea-admin">

  <div class="navigation-admin">
    <div class="navigationItem-admin navigationMenu-admin">
      <div class="navigationIcon-admin" >
        <span class="icon-paragraph-justify"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Свернуть меню</h5>
      </div>
    </div>
  </div>

  <div class="navigation-admin">
    <div class="navigationItem-admin"  [routerLink]="['/administration','orders']" routerLinkActive="navigationActive">
      <div class="navigationIcon-admin">
        <span class="icon-coin-dollar"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Заказы</h5>
      </div>
    </div>
  </div>

  <div class="navigation-admin" [routerLink]="['/administration','goods']" routerLinkActive="navigationActive">
    <div class="navigationItem-admin">
      <div class="navigationIcon-admin">
        <span class="icon-mug"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Товары</h5>
      </div>
    </div>
  </div>

  <div class="navigation-admin">
    <div class="navigationItem-admin" [routerLink]="['/administration','category']" routerLinkActive="navigationActive">
      <div class="navigationIcon-admin">
        <span class="icon-stack"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Категории</h5>
      </div>
    </div>
  </div>


  <div class="navigation-admin" >
    <div class="navigationItem-admin" [routerLink]="['/administration','clients']" routerLinkActive="navigationActive">
      <div class="navigationIcon-admin">
        <span class="icon-users"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Клиенты</h5>
      </div>
    </div>
  </div>

  <div class="navigation-admin">
    <div class="navigationItem-admin" [routerLink]="['/administration','options']" routerLinkActive="navigationActive">
      <div class="navigationIcon-admin">
        <span class="icon-cog"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Опции</h5>
      </div>
    </div>
  </div>

  <div class="navigation-admin">
    <div class="navigationItem-admin" [routerLink]="['/administration','setting']" routerLinkActive="navigationActive">
      <div class="navigationIcon-admin">
        <span class="icon-cog"></span>
      </div>
      <div class="navigationText-admin">
        <h5>Настройки</h5>
      </div>
    </div>
  </div>

</div>
