<div id="buttonsArea-admin">
  <div id="buttonsRow-admin">
    <div id="buttonsChange-admin">
      <div class="buttonActive"><a><span class="icon-plus"></span></a></div>
      <div class="buttonActive buttonBlock"><a><span class="icon-pencil"></span></a></div>
      <div class="buttonBlock"><a><span class="icon-bin2"></span></a></div>
    </div>
    <div id="buttonsSearch-admin">
      <div>
        <input type="text" placeholder="Поиск" (keyup) = "searchSort($event)">
      </div>
    </div>
  </div>
</div>
