#modal-area {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0, 0.5);
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

/*Купоны*/
#modal-coupon {
  position: absolute;
  width: 400px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-coupon>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-coupon-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-coupon-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-coupon-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-coupon-content>div {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}
#modal-coupon-content>div>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-coupon-content>div>div>div>div>label>span {
  color: red;
}
#modal-coupon-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-coupon-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-coupon-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-coupon-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-coupon-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-coupon-footer>div>div>h4>button:disabled {
  background: #847e7e;
}
small {
  font-size: x-small;
}
.modal-check {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.modal-check>label {
  width: 20%;
  font-size: small;
  color: black;
}
.modal-check>input {
  width: 50%;
}
.coupVal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.coupVal>input {
  width: 70%;
}
.coupVal>div {
  width: 30%;
  margin-left: 2%;
  color: black;
}
/*************/


/*Способ оплаты*/
#modal-payment {
  position: absolute;
  width: 400px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-payment>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-payment-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-payment-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-payment-content {
  position: relative;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-payment-content>div {
  width: 100%;
  height: 100%;
}
#modal-payment-content>div>div {
  position: absolute;
  width: 100%;
  height: 470px;
}
#modal-payment-content>div>div>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#modal-payment-content>div>div>div>div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#modal-payment-content>div>div>div>div>div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-payment-content>div>div>div>div>div>div>div>label>span {
  color: red;
}
#modal-payment-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-payment-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-payment-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-payment-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-payment-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-payment-footer>div>div>h4>button:disabled {
  background: #847e7e;
}
/**************/

/*Способ доставки*/
#modal-delivery {
  position: absolute;
  width: 500px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-delivery>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-delivery-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-delivery-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-delivery-content {
  position: relative;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-delivery-content>div {
  width: 100%;
  height: 100%;
}
#modal-delivery-content>div>div {
  position: absolute;
  width: 100%;
  height: 470px;
}
#modal-delivery-content>div>div>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#modal-delivery-content>div>div>div>div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#modal-delivery-content>div>div>div>div>div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-delivery-content>div>div>div>div>div>div>div>label>span {
  color: red;
}
#modal-delivery-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-delivery-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-delivery-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-delivery-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-delivery-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-delivery-footer>div>div>h4>button:disabled {
  background: #847e7e;
}
/*************/

/*Цены на доставку*/
#modal-price {
  position: absolute;
  width: 500px;
  height: 230px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-price>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-price-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-price-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-price-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-price-content>div {
  width: 100%;
  height: 100%;
}
#modal-price-content>div>div {
  position: absolute;
  width: 100%;
  height: 100%;
}
#modal-price-content>div>div>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#modal-price-content>div>div>div>div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#modal-price-content>div>div>div>div>div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-price-content>div>div>div>div>div>div>div>label>span {
  color: red;
}
#modal-price-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-price-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-price-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-price-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-price-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-price-footer>div>div>h4>button:disabled {
  background: #847e7e;
}
/*********/

/*Статус заказа*/
#modal-status {
  position: absolute;
  width: 500px;
  height: 210px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-status>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-status-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-status-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-status-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-status-content>div {
  width: 100%;
  height: 100%;
}
#modal-status-content>div>div {
  position: absolute;
  width: 100%;
  height: 100%;
}
#modal-status-content>div>div>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#modal-status-content>div>div>div>div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#modal-status-content>div>div>div>div>div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-status-content>div>div>div>div>div>div>div>label>span{
  color: red;
}
#modal-status-footer{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-status-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-status-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-status-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-status-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-status-footer>div>div>h4>button:disabled {
  background: #847e7e;
}
/***********/

/*Способ доставки*/
#modal-group {
  position: absolute;
  width: 500px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-group >form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-group-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-group-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-group-content {
  position: relative;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-group-content>div {
  width: 100%;
  height: 100%;
}
#modal-group-content>div>div {
  position: absolute;
  width: 100%;
  height: 470px;
}
#modal-group-content>div>div>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#modal-group-content>div>div>div>div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#modal-group-content>div>div>div>div>div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-group-content>div>div>div>div>div>div>div>label>span {
  color: red;
}
#modal-group-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-group-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-group-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-group-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-group-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-group-footer>div>div>h4>button:disabled {
  background: #847e7e;
}
/*************/

/*Категория*/
#modal-category {
  position: absolute;
  width: 500px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}
#modal-category >form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}
#modal-category-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#modal-category-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}
#modal-category-content {
  position: relative;
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-category-content>div {
  width: 100%;
  height: 100%;
}
#modal-category-content>div>div {
  position: absolute;
  width: 100%;
  height: 470px;
}
#modal-category-content>div>div>div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
#modal-category-content>div>div>div>div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#modal-category-content>div>div>div>div>div  {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}
#modal-category-content>div>div>div>div>div>div>div>label>span {
  color: red;
}
#modal-category-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}
#modal-category-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}
#modal-category-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-category-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#modal-category-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-category-footer>div>div>h4>button:disabled {
  background: #847e7e;
}

#category-image-input {
  display: none;
}

.div-category {
  height: 200px;
  width: 200px;
  border: 1px solid #8f8686;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.div-category>div>label>span {
  font-size: 190px;
  color: #bab8ba;
}

.div-category>img {
  width: 190px;
  height: 190px;
}


/*************/



.modal-exit {
  font-size: small;
}
.nameRow-30 {
  width: 30%;
}
.valueRow-70 {
  width: 70%;
  color: black;
}
.nameRow-50 {
  width: 50%;
}

input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 3px;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
    border-radius: 3px;
  }
 }

select {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 3px;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
    border-radius: 3px;
  }
}

.errorForm {
  color: red;
}

.loaderModal {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #bd97bd;
  border-radius: 50%;
  border-top: 2px solid #f3f3f3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@media screen and (max-width: 460px){
    #modal-area {
      width: 460px;
    }
}
@media screen and (max-width: 500px) {
  #modal-payment {
    width: 400px;
  }
  #modal-delivery {
    width: 400px;
  }
  #modal-price {
    width: 400px;
  }
  #modal-status {
    width: 400px;
  }
  #modal-group {
    width: 400px;
  }
}



