#modal-area {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0, 0.5);
  font-family: Roboto, sans-serif;
}

/*Купоны*/
#modal-coupon {
  position: absolute;
  width: 400px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}

#modal-coupon>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}


#modal-coupon-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#modal-coupon-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}

.modal-exit {
  font-size: small;
}

#modal-coupon-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-coupon-content>div {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

#modal-coupon-content>div>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}

#modal-coupon-content>div>div>div {
  width: 50%;
}
#modal-coupon-content>div>div>div>div>label>span {
  color: red;
}

#modal-coupon-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}

#modal-coupon-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}

#modal-coupon-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-coupon-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#modal-coupon-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-coupon-footer>div>div>h4>button:disabled {
  background: #847e7e;
}

small {
  font-size: x-small;
}

.modal-check {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.modal-check>label {
  width: 20%;
  font-size: small;
  color: black;
}
.modal-check>input {
  width: 50%;
}

.coupVal{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.coupVal>input {
  width: 70%;
}

.coupVal>div {
  width: 30%;
  margin-left: 2%;
  color: black;
}

/*************/


/*Способ оплаты*/
#modal-payment {
  position: absolute;
  width: 800px;
  height: 570px;
  margin: auto;
  left: 0; bottom: 0; right: 0; top: 0;
}

#modal-payment>form {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: white;
  border-radius: 3px;
  overflow: hidden;
}

#modal-payment-head {
  width: 100%;
  height: 50px;
  background: #eddfec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#modal-payment-head>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #714871;;
}

#modal-payment-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: #714871;
}
#modal-payment-content>div {
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

#modal-payment-content>div>div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-top: 3%;
  padding-bottom: 3%;
}

#modal-payment-content>div>div>div {
  width: 50%;
}
#modal-payment-content>div>div>div>div>label>span {
  color: red;
}






#modal-payment-footer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: #eddfec;
  margin-top: 3%;
}

#modal-payment-footer>div {
  width: 95%;
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  color: #714871;;
}

#modal-payment-footer>div>div {
  height: 30px;
  width: 100px;
  border-radius: 3px;
  overflow: hidden;
}
#modal-payment-footer>div>div>h4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#modal-payment-footer>div>div>h4>button {
  width: 100%;
  height: 100%;
  border: none;
  background: #714871;
  color: #efe4e4;
}
#modal-payment-footer>div>div>h4>button:disabled {
  background: #847e7e;
}

.editor {
  width: 400px;
  height: 300px;
}
.editor>div {
  width: 400px;
  height: 300px;
}
.editor>div>quill-editor {
  width: 400px;
  height: 300px;
}




input {
  &.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 3px;
  }

  &.ng-valid.ng-touched {
    border: 1px solid green;
    border-radius: 3px;
  }
 }

.errorForm {
  color: red;
}

@media screen and (max-width: 460px){
    #modal-area {
      width: 460px;
    }
}

