
<div id="modal-area">
  <div id="modal-coupon" *ngIf="modal==='coupon'">

      <form [formGroup]="couponForm" (ngSubmit)="couponSubmit()">
        <div id="modal-coupon-head">
          <div>
            <div><h4>{{nameHead}}</h4></div>
            <div id="modal-coupon-exit"><span class="icon-cross"></span></div>
          </div>
        </div>

        <div id="modal-coupon-content">

          <div>

            <div id="modal-coupon-publication">
              <div>
                <div><label>Публикация</label></div>
              </div>
              <div>
                <div>
                  <input type="checkbox" formControlName="couponPublication">
                </div>
              </div>
            </div>

            <div id="modal-coupon-code">
              <div>
                <div><label>Код<span>*</span></label></div>
              </div>
              <div>
                <div>
                  <input id="test" type="text" formControlName="couponCode">
                </div>
                <div *ngIf="couponForm.get('couponCode').invalid && couponForm.get('couponCode').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponCode').errors.required || couponForm.get('couponCode').errors.trim">Ввиедите код</small>
                  <small class="errorForm" *ngIf="couponForm.get('couponCode').errors.maxlength">Код больше 100 символов</small>
                  <small class="errorForm" *ngIf="couponForm.get('couponCode').errors.code">Код может содержать только латинские буквы и цифры</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-type">
              <div>
                <div><label>Тип<span>*</span></label></div>
              </div>
              <div>
                <div class="modal-check">
                  <label>Процент</label>
                  <input type="radio"  formControlName="couponType" value="percent">
                </div>
                <div class="modal-check">
                  <label>Значение</label>
                  <input type="radio"  formControlName="couponType" value="value">
                </div>
              </div>
            </div>

            <div id="modal-coupon-value">
              <div>
                <div><label>Значение<span>*</span></label></div>
              </div>
              <div>
                <div>
                  <input type="number" formControlName="couponValue">
                </div>
                <div *ngIf="couponForm.get('couponValue').invalid && couponForm.get('couponValue').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponValue').errors.required">Введите число</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-data-start">
              <div>
                <div><label>Дата начала<span>*</span></label></div>
              </div>
              <div>
                <div>
                  <input type="date" formControlName="couponDateStart">
                </div>
                <div *ngIf="couponForm.get('couponDateStart').invalid && couponForm.get('couponDateStart').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponDateStart').errors.required">Введите дату начала</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-data-end">
              <div>
                <div><label>Дата завершения<span>*</span></label></div>
              </div>
              <div>
                <div>
                  <input type="date" formControlName="couponDateEnd">
                </div>
                <div *ngIf="couponForm.get('couponDateEnd').invalid && couponForm.get('couponDateEnd').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponDateEnd').errors.required">Введите дату окончания</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-client">
              <div>
                <div><label>Для клиента</label></div>
              </div>
              <div>
                <div>
                  <input type="text" formControlName="couponClient">
                </div>
              </div>
            </div>

            <div id="modal-coupon-finish">
              <div>
                <div><label>Завершается после использования</label></div>
              </div>
              <div>
                <div>
                  <input type="checkbox" formControlName="couponFinish">
                </div>
              </div>
            </div>

        </div>

        </div>

        <div id="modal-coupon-footer">
          <div>
            <div>
              <h4><button id="coupon-sub" type="submit" [disabled]="couponForm.invalid">Сохранить</button></h4>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
