
<div id="modal-area">

  <div id="modal-coupon" *ngIf="modal==='coupon'" cdkDragBoundary="#modal-area" cdkDrag>
      <form [formGroup]="couponForm" (ngSubmit)="FormSubmit('coupon')">
        <div id="modal-coupon-head" cdkDragHandle>
          <div>
            <div><h4>{{nameHead}}</h4></div>
            <div class="modal-exit"><span class="icon-cross" (click)="modalFalse()"></span></div>
          </div>
        </div  >

        <div id="modal-coupon-content">

          <div>

            <div id="modal-coupon-publication">
              <div class="nameRow-50">
                <div><label>Публикация</label></div>
              </div>
              <div class="nameRow-50">
                <div>
                  <input type="checkbox" formControlName="couponPublication">
                </div>
              </div>
            </div>

            <div id="modal-coupon-code">
              <div class="nameRow-50">
                <div><label>Код<span>*</span></label></div>
              </div>
              <div class="nameRow-50">
                <div>
                  <input id="test" type="text" formControlName="couponCode">
                </div>
                <div *ngIf="couponForm.get('couponCode').invalid && couponForm.get('couponCode').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponCode').errors.required ">Ввиедите код</small>
                  <small class="errorForm" *ngIf="couponForm.get('couponCode').errors.maxlength">Код больше 100 символов</small>
                  <small class="errorForm" *ngIf="couponForm.get('couponCode').errors.code || couponForm.get('couponCode').errors.trim
                  && !couponForm.get('couponCode').errors.required">Код может содержать только латинские буквы и цифры</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-type">
              <div class="nameRow-50">
                <div><label>Тип<span>*</span></label></div>
              </div>
              <div class="nameRow-50">
                <div class="modal-check">
                  <label>Процент</label>
                  <input type="radio"  formControlName="couponType" value="percent">
                </div>
                <div class="modal-check">
                  <label>Значение</label>
                  <input type="radio"  formControlName="couponType" value="value">
                </div>
              </div>
            </div>

            <div id="modal-coupon-value">
              <div class="nameRow-50">
                <div><label>Значение<span>*</span></label></div>
              </div>
              <div class="nameRow-50">
                <div class="coupVal">
                  <input type="number" formControlName="couponValue">
                  <div *ngIf="couponForm.get('couponType').value === 'percent'">%</div>
                  <div  *ngIf="couponForm.get('couponType').value === 'value'">руб.</div>
                </div>
                <div *ngIf="couponForm.get('couponValue').invalid && couponForm.get('couponValue').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponValue').errors.required">Введите число</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-data-start">
              <div class="nameRow-50">
                <div><label>Дата начала<span>*</span></label></div>
              </div>
              <div class="nameRow-50">
                <div>
                  <input type="date" formControlName="couponDateStart">
                </div>
                <div *ngIf="couponForm.get('couponDateStart').invalid && couponForm.get('couponDateStart').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponDateStart').errors.required">Введите дату начала</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-data-end">
              <div class="nameRow-50">
                <div><label>Дата завершения<span>*</span></label></div>
              </div>
              <div class="nameRow-50">
                <div>
                  <input type="date" formControlName="couponDateEnd">
                </div>
                <div *ngIf="couponForm.get('couponDateEnd').invalid && couponForm.get('couponDateEnd').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponDateEnd').errors.required">Введите дату окончания</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-client">
              <div class="nameRow-50">
                <div><label>Для клиента</label></div>
              </div>
              <div class="nameRow-50">
                <div>
                  <input type="number" formControlName="couponClient">
                </div>
                <div *ngIf="couponForm.get('couponClient').invalid && couponForm.get('couponClient').touched">
                  <small class="errorForm" *ngIf="couponForm.get('couponClient').errors.inbreed">Введено не целое число</small>
                </div>
              </div>
            </div>

            <div id="modal-coupon-finish">
              <div class="nameRow-50">
                <div><label>Завершается после использования</label></div>
              </div>
              <div class="nameRow-50">
                <div>
                  <input type="checkbox" formControlName="couponFinish">
                </div>
              </div>
            </div>

        </div>

        </div>

        <div id="modal-coupon-footer">
          <div>
            <div>
              <h4>
                <button type="submit" *ngIf="but === 'add'" [disabled]="couponForm.invalid">Создать</button>
                <button type="submit" *ngIf="but === 'edit'" [disabled]="couponForm.invalid">Сохранить</button>
              </h4>
            </div>
          </div>
        </div>
      </form>
  </div>

  <div id="modal-payment" *ngIf="modal==='payment'" cdkDragBoundary="#modal-area" cdkDrag>
    <form [formGroup]="paymentForm" (ngSubmit)="FormSubmit('payment')">

      <div id="modal-payment-head" cdkDragHandle>
        <div>
          <div><h4>{{nameHead}}</h4></div>
          <div class="modal-exit"><span class="icon-cross"></span></div>
        </div>
      </div>

      <div id="modal-payment-content">
        <div>
          <div>
            <div>
              <div>
                <div id="modal-payment-publication">
                  <div class="nameRow-30">
                    <div><label>Публикация</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="checkbox" formControlName="paymentPublication">
                    </div>
                  </div>
                </div>
                <div id="modal-payment-type">
                  <div class="nameRow-30">
                    <div><label>Тип оплаты<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <select formControlName="paymentType">
                        <option value="cash">Наличные</option>
                        <option value="yandex">Яндекс</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="modal-payment-code">
                  <div class="nameRow-30">
                    <div><label>Код<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="text" formControlName="paymentCode">
                    </div>
                    <div *ngIf="paymentForm.get('paymentCode').invalid && paymentForm.get('paymentCode').touched">
                      <small class="errorForm" *ngIf="paymentForm.get('paymentCode').errors.required">Введите код</small>
                      <small class="errorForm" *ngIf="paymentForm.get('paymentCode').errors.maxlength">Код больше 100 символов</small>
                      <small class="errorForm"
                             *ngIf="paymentForm.get('paymentCode').errors.code ||
                             paymentForm.get('paymentCode').errors.trim && !paymentForm.get('paymentCode').errors.required">Код может содерржать только число или латинские буквы</small>
                    </div>
                  </div>
                </div>
                <div id="modal-payment-name">
                  <div class="nameRow-30">
                    <div><label>Название<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="text" formControlName="paymentName">
                    </div>
                    <div *ngIf="paymentForm.get('paymentName').invalid && paymentForm.get('paymentName').touched">
                      <small class="errorForm" *ngIf="paymentForm.get('paymentName').errors.required || paymentForm.get('paymentName').errors.trim">Введите код</small>
                      <small class="errorForm" *ngIf="paymentForm.get('paymentName').errors.maxlength">Название больше 100 символов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-payment-sort">
                  <div class="nameRow-30">
                    <div><label>Сортировка<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="number" formControlName="paymentSort">
                    </div>
                    <div *ngIf="paymentForm.get('paymentSort').invalid && paymentForm.get('paymentSort').touched">
                      <small class="errorForm" *ngIf="paymentForm.get('paymentSort').errors.required">Введите номер сортировки</small>
                      <small class="errorForm" *ngIf="paymentForm.get('paymentSort').errors.inbreed && !paymentForm.get('paymentSort').errors.required">Номер сортировки не целое число</small>
                    </div>
                  </div>
                </div>
                <div id="modal-payment-editor">
                  <div class="nameRow-30">
                    <div><label>Описание</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <quill-editor formControlName="paymentDescription">
                        <div quill-editor-toolbar>
                          <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-italic" [title]="'Italic'"></button>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-color" [title]="'Color'">
                              <option selected></option>
                              <option value="red"></option>
                              <option value="blue"></option>
                              <option value="yellow"></option>
                              <option value="green"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-align" [title]="'Align'">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-size" [title]="'Size'">
                              <option selected></option>
                              <option value="small"></option>
                              <option value="false"></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                            </select>
                          </span>
                        </div>
                      </quill-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-payment-footer">
        <div>
          <div>
            <h4>
              <button *ngIf="but === 'add'" type="submit" [disabled]="paymentForm.invalid">Создать</button>
              <button *ngIf="but === 'edit'" type="submit" [disabled]="paymentForm.invalid">Сохранить</button>
            </h4>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="modal-delivery" *ngIf="modal==='delivery'" cdkDragBoundary="#modal-area" cdkDrag>
    <form [formGroup]="deliveryForm" (ngSubmit)="FormSubmit('delivery')">

      <div id="modal-delivery-head" cdkDragHandle>
        <div>
          <div><h4>{{nameHead}}</h4></div>
          <div class="modal-exit"><span class="icon-cross"></span></div>
        </div>
      </div>

      <div id="modal-delivery-content">
        <div>
          <div>
            <div>
              <div>
                <div id="modal-delivery-publication">
                  <div class="nameRow-30">
                    <div><label>Публикация</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="checkbox" formControlName="deliveryPublication">
                    </div>
                  </div>
                </div>
                <div id="modal-delivery-type">
                  <div class="nameRow-30">
                    <div><label>Тип оплаты<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <select multiple size="6" formControlName="deliveryPayment">
                        <option value="" disabled>Выберите способ оплаты</option>
                        <option value="cash">Наличные</option>
                        <option value="yandex">Яндекс</option>
                      </select>
                    </div>
                    <div *ngIf="deliveryForm.get('deliveryPayment').invalid && deliveryForm.get('deliveryPayment').touched">
                      <small class="errorForm" *ngIf="deliveryForm.get('deliveryPayment').errors.required">Выберите тип оплаты</small>
                    </div>
                  </div>
                </div>
                <div id="modal-delivery-code">
                  <div class="nameRow-30">
                    <div><label>Код<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="text" formControlName="deliveryCode">
                    </div>
                    <div *ngIf="deliveryForm.get('deliveryCode').invalid && deliveryForm.get('deliveryCode').touched">
                      <small class="errorForm" *ngIf="deliveryForm.get('deliveryCode').errors.required">Ввиедите код</small>
                      <small class="errorForm" *ngIf="deliveryForm.get('deliveryCode').errors.maxlength">Код больше 100 символов</small>
                      <small class="errorForm" *ngIf="deliveryForm.get('deliveryCode').errors.code || deliveryForm.get('deliveryCode').errors.trim
                      && !deliveryForm.get('deliveryCode').errors.required">Код может содержать только латинские буквы и цифры</small>
                    </div>
                  </div>
                </div>
                <div id="modal-delivery-name">
                  <div class="nameRow-30">
                    <div>
                      <label>Название<span>*</span></label>
                    </div>
                  </div>
                  <div lass="valueRow-70">
                    <div>
                      <input type="text" formControlName="deliveryName">
                    </div>
                    <div *ngIf="deliveryForm.get('deliveryName').invalid && deliveryForm.get('deliveryName').touched">
                      <small class="errorForm" *ngIf="deliveryForm.get('deliveryName').errors.required || deliveryForm.get('deliveryName').errors.trim">Введите название</small>
                      <small class="errorForm" *ngIf="deliveryForm.get('deliveryName').errors.maxlength">Название больше 100 символов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-delivery-sort">
                  <div class="nameRow-30">
                    <div>
                      <label>Сортировка<span>*</span></label>
                    </div>
                  </div>
                  <div lass="valueRow-70">
                    <div>
                      <input type="number" formControlName="deliverySort">
                    </div>
                    <div *ngIf="deliveryForm.get('deliverySort').invalid && deliveryForm.get('deliverySort').touched">
                      <small class="errorForm" *ngIf="deliveryForm.get('deliverySort').errors.required">Введите номер сортировки</small>
                      <small class="errorForm" *ngIf="deliveryForm.get('deliverySort').errors.inbreed && !deliveryForm.get('deliverySort').errors.required">Номер сортировки не целое число</small>
                    </div>
                  </div>
                </div>
                <div id="modal-delivery-editor">
                  <div class="nameRow-30">
                    <div><label>Описание</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <quill-editor formControlName="deliveryDescription">
                        <div quill-editor-toolbar>
                          <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-italic" [title]="'Italic'"></button>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-color" [title]="'Color'">
                              <option selected></option>
                              <option value="red"></option>
                              <option value="blue"></option>
                              <option value="yellow"></option>
                              <option value="green"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-align" [title]="'Align'">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-size" [title]="'Size'">
                              <option selected></option>
                              <option value="small"></option>
                              <option value="false"></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                            </select>
                          </span>
                        </div>
                      </quill-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-delivery-footer">
        <div>
          <div>
            <h4>
              <button *ngIf="but === 'add'" type="submit" [disabled]="deliveryForm.invalid">Создать</button>
              <button *ngIf="but === 'edit'" type="submit" [disabled]="deliveryForm.invalid">Сохранить</button>
            </h4>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div id="modal-price" *ngIf="modal==='price'" cdkDragBoundary="#modal-area" cdkDrag>
    <form [formGroup]="priceForm" (ngSubmit)="FormSubmit('price')">

      <div id="modal-price-head" cdkDragHandle>
        <div>
          <div><h4>{{nameHead}}</h4></div>
          <div class="modal-exit"><span class="icon-cross"></span></div>
        </div>
      </div>

      <div id="modal-price-content">
        <div>
          <div>
            <div>
              <div>
                <div id="modal-price-name">
                  <div class="nameRow-30">
                    <div>
                      <label>Название<span>*</span></label>
                    </div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <select  formControlName="priceName">
                        <option value="cash">Наличные</option>
                        <option value="yandex">Яндекс</option>
                      </select>
                    </div>
                    <div *ngIf="priceForm.get('priceName').invalid && priceForm.get('priceName').touched">
                      <small class="errorForm" *ngIf="priceForm.get('priceName').errors.required">Выберите название</small>
                    </div>
                  </div>
                </div>
                <div id="modal-price-price">
                  <div class="nameRow-30">
                    <div><label>Цена<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="number" formControlName="pricePrice">
                    </div>
                    <div *ngIf="priceForm.get('pricePrice').invalid && priceForm.get('pricePrice').touched">
                      <small class="errorForm" *ngIf="priceForm.get('pricePrice').errors.required">Выберите цену</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-price-footer">
        <div>
          <div>
            <h4>
              <button *ngIf="but === 'add'" type="submit" [disabled]="priceForm.invalid">Создать</button>
              <button *ngIf="but === 'edit'" type="submit" [disabled]="priceForm.invalid">Сохранить</button>
            </h4>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div id="modal-status" *ngIf="modal==='status'" cdkDragBoundary="#modal-area" cdkDrag>
    <form [formGroup]="statusForm" (ngSubmit)="FormSubmit('status')">

      <div id="modal-status-head" cdkDragHandle>
        <div>
          <div><h4>{{nameHead}}</h4></div>
          <div class="modal-exit"><span class="icon-cross"></span></div>
        </div>
      </div>

      <div id="modal-status-content">
        <div>
          <div>
            <div>
              <div>
                <div id="modal-status-name">
                  <div class="nameRow-30">
                    <div>
                      <label>Название<span>*</span></label>
                    </div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="text" formControlName="statusName">
                    </div>
                    <div *ngIf="statusForm.get('statusName').invalid && statusForm.get('statusName').touched">
                      <small class="errorForm" *ngIf="statusForm.get('statusName').errors.required || statusForm.get('statusName').errors.trim">Выберите название</small>
                      <small class="errorForm" *ngIf="statusForm.get('statusName').errors.maxlength">Название больше 100 символов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-status-code">
                  <div class="nameRow-30">
                    <div>
                      <label>Код<span>*</span></label>
                    </div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="text" formControlName="statusCode">
                    </div>
                    <div *ngIf="statusForm.get('statusCode').invalid && statusForm.get('statusCode').touched">
                      <small class="errorForm" *ngIf="statusForm.get('statusCode').errors.required">Введите код</small>
                      <small class="errorForm" *ngIf="statusForm.get('statusCode').errors.maxlength">Код больше 100 символов</small>
                      <small class="errorForm" *ngIf="statusForm.get('statusCode').errors.code || statusForm.get('statusCode').errors.trim
                      && !statusForm.get('statusCode').errors.required">Код может содержать только латинские буквы и цифры</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-status-footer">
        <div>
          <div>
            <h4>
              <button *ngIf="but === 'add'" type="submit" [disabled]="statusForm.invalid">Создать</button>
              <button *ngIf="but === 'edit'" type="submit" [disabled]="statusForm.invalid">Сохранить</button>
            </h4>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div id="modal-group" *ngIf="modal==='group'" cdkDragBoundary="#modal-area" cdkDrag>
    <form [formGroup]="groupForm">

      <div id="modal-group-head" cdkDragHandle>
        <div>
          <div><h4>{{nameHead}}</h4></div>
          <div class="modal-exit"><span class="icon-cross"></span></div>
        </div>
      </div>

      <div id="modal-group-content">
        <div>
          <div>
            <div>
              <div>
                <div id="modal-group-publication">
                  <div class="nameRow-30">
                    <div><label>По умолчанию</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="checkbox" formControlName="groupDefault">
                    </div>
                  </div>
                </div>
                <div id="modal-group-name">
                  <div class="nameRow-30">
                    <div>
                      <label>Название<span>*</span></label>
                    </div>
                  </div>
                  <div lass="valueRow-70">
                    <div>
                      <input type="text" formControlName="groupName">
                    </div>
                    <div *ngIf="groupForm.get('groupName').invalid && groupForm.get('groupName').touched">
                      <small class="errorForm" *ngIf="groupForm.get('groupName').errors.required || groupForm.get('groupName').errors.trim">Введите название</small>
                      <small class="errorForm" *ngIf="groupForm.get('groupName').errors.maxlength">Название больше 100 символов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-group-discount">
                  <div class="nameRow-30">
                    <div><label>Скидка<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div class="coupVal">
                      <input type="number" formControlName="groupDiscount"><div>%</div>
                    </div>
                    <div *ngIf="groupForm.get('groupDiscount').invalid && groupForm.get('groupDiscount').touched">
                      <small class="errorForm" *ngIf="groupForm.get('groupDiscount').errors.required">Введите размер скидки</small>
                      <small class="errorForm" *ngIf="groupForm.get('groupDiscount').errors.percent">Введено больше 100 процентов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-group-editor">
                  <div class="nameRow-30">
                    <div><label>Описание<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <quill-editor>
                        <div quill-editor-toolbar>
                          <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-italic" [title]="'Italic'"></button>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-color" [title]="'Color'">
                              <option selected></option>
                              <option value="red"></option>
                              <option value="blue"></option>
                              <option value="yellow"></option>
                              <option value="green"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-align" [title]="'Align'">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-size" [title]="'Size'">
                              <option selected></option>
                              <option value="small"></option>
                              <option value="false"></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                            </select>
                          </span>
                        </div>
                      </quill-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-group-footer">
        <div>
          <div>
            <h4>
              <button *ngIf="but === 'add'" type="submit" [disabled]="groupForm.invalid">Создать</button>
              <button *ngIf="but === 'edit'" type="submit" [disabled]="groupForm.invalid">Сохранить</button>
            </h4>
          </div>
        </div>
      </div>

    </form>
  </div>

  <div id="modal-category" *ngIf="modal==='category'" cdkDragBoundary="#modal-area" cdkDrag>
    <form [formGroup]="groupForm">

      <div id="modal-category-head" cdkDragHandle>
        <div>
          <div><h4>{{nameHead}}</h4></div>
          <div class="modal-exit"><span class="icon-cross"></span></div>
        </div>
      </div>

      <div id="modal-category-content">
        <div>
          <div>
            <div>
              <div>
                <div id="category-image">
                  <div class="nameRow-30">
                    <div><label>Картинка</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div class="div-category">
                      <div>
                        <label for="category-image-input">
                          <span class="icon-cloud-upload"></span>
                        </label>
                        <input id="category-image-input" type="file" accept="image/jpeg,image/png">
                      </div>
                    </div>
                  </div>
                </div>
                <div id="modal-category-publication">
                  <div class="nameRow-30">
                    <div><label>По умолчанию</label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <input type="checkbox" formControlName="groupDefault">
                    </div>
                  </div>
                </div>
                <div id="modal-category-name">
                  <div class="nameRow-30">
                    <div>
                      <label>Название<span>*</span></label>
                    </div>
                  </div>
                  <div lass="valueRow-70">
                    <div>
                      <input type="text" formControlName="groupName">
                    </div>
                    <div *ngIf="groupForm.get('groupName').invalid && groupForm.get('groupName').touched">
                      <small class="errorForm" *ngIf="groupForm.get('groupName').errors.required || groupForm.get('groupName').errors.trim">Введите название</small>
                      <small class="errorForm" *ngIf="groupForm.get('groupName').errors.maxlength">Название больше 100 символов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-category-discount">
                  <div class="nameRow-30">
                    <div><label>Скидка<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div class="coupVal">
                      <input type="number" formControlName="groupDiscount"><div>%</div>
                    </div>
                    <div *ngIf="groupForm.get('groupDiscount').invalid && groupForm.get('groupDiscount').touched">
                      <small class="errorForm" *ngIf="groupForm.get('groupDiscount').errors.required">Введите размер скидки</small>
                      <small class="errorForm" *ngIf="groupForm.get('groupDiscount').errors.percent">Введено больше 100 процентов</small>
                    </div>
                  </div>
                </div>
                <div id="modal-category-editor">
                  <div class="nameRow-30">
                    <div><label>Описание<span>*</span></label></div>
                  </div>
                  <div class="valueRow-70">
                    <div>
                      <quill-editor>
                        <div quill-editor-toolbar>
                          <span class="ql-formats">
                            <button class="ql-bold" [title]="'Bold'"></button>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-italic" [title]="'Italic'"></button>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-color" [title]="'Color'">
                              <option selected></option>
                              <option value="red"></option>
                              <option value="blue"></option>
                              <option value="yellow"></option>
                              <option value="green"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-align" [title]="'Align'">
                              <option selected></option>
                              <option value="center"></option>
                              <option value="right"></option>
                              <option value="justify"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <select class="ql-size" [title]="'Size'">
                              <option selected></option>
                              <option value="small"></option>
                              <option value="false"></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                            </select>
                          </span>
                        </div>
                      </quill-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="modal-category-footer">
        <div>
          <div>
            <h4>
              <button *ngIf="but === 'add'" type="submit" [disabled]="groupForm.invalid">Создать</button>
              <button *ngIf="but === 'edit'" type="submit" [disabled]="groupForm.invalid">Сохранить</button>
            </h4>
          </div>
        </div>
      </div>

    </form>
  </div>



  <div class="loaderModal" *ngIf="loader"></div>
</div>




