<div id="area-admin">
  <div id="leftArea-admin">
    <app-navigation-admin></app-navigation-admin>
  </div>
  <div id="rightArea-admin">
    <div id="head-admin">
      <app-head-admin></app-head-admin>
    </div>
    <div id="tabs-admin">
      <app-tabs-admin></app-tabs-admin>
    </div>
    <div id="buttons-admin">
      <app-buttons-admin (searchUpt)="UpdatePage($event)"
                         (add)="add()"
                         (edit)="edit()"
                         (delete)="delete()"
                         [arrRowsActive]="arrRowsCount"
      ></app-buttons-admin>
    </div>
    <div id="table-admin" >
      <app-table-admin (sortOutput)="UpdatePage($event)"
                       [arrTable]="arrTable"
                       (clickBut)="UpdateArrRowsArr($event)"
      ></app-table-admin>
    </div>
    <div id="footer-admin">
      <app-footer-admin [countRows]="countRows" (rowsUpt)="UpdatePage($event)" (pageUpt)="UpdatePage($event)" ></app-footer-admin>
    </div>
  </div>
</div>
<div>
  <app-modal-admin
    *ngIf="modal"
    [modalNameChild]="modalNameParent"
    [rowId]="rowId"
    (closeModal)="closeModalEditor()"
    (closeModalFalse)="closeModal()"
    (error)="errorModal($event)"
  ></app-modal-admin>
</div>
<div class="loader" *ngIf="loader"></div>
<div id="area-error"
     class="modalErrorAreaClass"
     [ngClass]="{errorDisplay: error}">
  <div id="modal-error" cdkDragBoundary="#area-error" cdkDrag>
    <div>
      <div id="error-head" cdkDragHandle>
        <div>
          <div><h4>Ошибка</h4></div>
        </div>
      </div>
      <div id="error-body">
        <div><div>{{errorText}}</div></div>
      </div>
      <div id="error-footer">
        <div>
          <div>
            <h4>
              <button type="button" (click)="closeError()">OK</button>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


