<div id="area-admin">
  <div id="leftArea-admin">
    <app-navigation-admin></app-navigation-admin>
  </div>
  <div id="rightArea-admin">
    <div id="head-admin">
      <app-head-admin></app-head-admin>
    </div>
    <div id="tabs-admin">
      <app-tabs-admin></app-tabs-admin>
    </div>
    <div id="buttons-admin">
      <app-buttons-admin></app-buttons-admin>
    </div>
    <div id="table-admin">
      <app-table-admin></app-table-admin>
    </div>
    <div id="footer-admin">
      <app-footer-admin [countRows]="countRows" [rows]="rows"></app-footer-admin>
    </div>
  </div>
</div>
