#area-admin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#leftArea-admin {
  height: 100%;
  background: #bd97bd;
}

#rightArea-admin {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  min-width: 380px;
}

#head-admin {
  width: 100%;
  height: 50px;
}
#tabs-admin {
  width: 100%;
  height: 50px;
}

#buttons-admin {
  width: 100%;
  height: 60px;
}

#tabs-admin {
  width: 100%;
  height: 50px;
}

#table-admin {
  flex-grow: 1;
  width: 100%;
}

#footer-admin {
  width: 100%;
  height: 30px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #bd97bd;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(160deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(160deg); }
}


@media screen and (max-width: 650px){
  #tabs-admin {
    height: 30px;
  }
}

@media screen and (max-width: 400px){
  #tabs-admin {
    height: 20px;
  }
}

@media screen and (max-width: 620px){
  #buttons-admin {
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 650px){
  #footer-admin {

  }
}

@media screen and (max-width: 550px){
  #footer-admin {
    height: 20px;
  }
}
