#tableAr-admin {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: small;
}

#tableArea-admin {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tableContent-admin {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.tableHead-admin {
  position: sticky;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: white;
  border-bottom: 1px solid #b5b5b5;
}

.tableHead-admin>div {
  width: 50%;
  height: 100%;
  border-right: 1px solid #b5b5b5;
}

.tableHead-admin>div>div {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.tableHead-admin>div>div>div {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

.filterPosition {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;

}

.filterDESC {
  transform: rotate(180deg);
}

.tableBlock-admin {
  height: 70px;
  width: 100%;
}

.tableBlock-admin:nth-child(2n) {
  background: #dedede;
}

.tableBlock-admin>div {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.tableBlock-admin>div>div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.tableBlock-admin>div>div>div {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.tableBlock-admin>div>div>div>span {
  width: 85%;
}

.columnTrue {
  color: green;
}

.columnFalse {
  color: red;
}

.columnCenter {
  text-align: center;
}

.notData {
  text-align: center;
}

.loaderTable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #bd97bd;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


