#footerArea-admin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: #b5b5b5;
}

#pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#pages>a {
  margin-right: 1.5%;
}

#footerRow-admin {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footerButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end
}
