#footerArea-admin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  background: #b5b5b5;
}

#pages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#pages>a {
  margin-right: 2%;
  margin-left: 2%;
}

#footerRow-admin {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}

#footerLeft-admin {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#footerRight-admin {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  flex-grow: 1;
  color: #000000;
}

.footerButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;

}

#pageItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#pageItem>a {
  margin-right: 4%;

}
.pageAct {
  pointer-events: none;
  color: #efff00;
}

.pageBlock {
  pointer-events: none;
  color: #847e7e;
}
