<div id="footerArea-admin">
  <div id="footerRow-admin">
    <div id="footerLeft-admin">
      <div id="footerLeftArea-admin">
        <small>
          <label>Сумма записей</label>
          <label>
            <select>
              <option value=20>20</option>
              <option value=50 > 50 </option>
              <option value=100 >100</option>
            </select>
          </label>
        </small>
      </div>
    </div>
    <div id="footerRight-admin" *ngIf="pageDis">
      <div id="footerRightArea-admin">
        <div id="pages" >
          <a class="footerButtons" (click)="pageButtonFirst()"><small><span class="icon-previous2"></span></small></a>
          <a class="footerButtons" (click)="pageButtomMinus()"><small><span class="icon-backward2"></span></small></a>
          <a id="pageItem" *ngFor="let item of arrayPage"><a [class.pageAct]="item == activePage" (click)=UpdatePage($event)><small>{{item}}</small></a></a>
          <a class="footerButtons" (click)="pageButtonPlus()"><small><span class="icon-forward3"></span></small></a>
          <a class="footerButtons" (click)="pageButtonEnd()" ><small><span class="icon-next2"></span></small></a>
        </div>
      </div>
    </div>
  </div>
</div>
